<h1 class="text-center">OSM</h1>
<p class="text-center text-light font-weight-bold">
  Online Service Marketplace
</p>
<div class="login">
  <div class="form-container">
    <p class="title">{{ login ? "Login" : "" }}</p>
    <form class="form" #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="input-group" *ngIf="!login">
        <label for="name">Name</label>
        <input
          type="text"
          [(ngModel)]="name"
          name="name"
          autocomplete="off"
          id="name"
          placeholder=""
        />
      </div>
      <div class="input-group">
        <label for="email">Email</label>
        <input
          type="text"
          [(ngModel)]="email"
          name="email"
          autocomplete="off"
          id="email"
          email
          required
          placeholder=""
        />
      </div>
      <div class="input-group" *ngIf="!login">
        <label for="mobile">Mobile</label>
        <input
          type="text"
          [(ngModel)]="mobile"
          name="mobile"
          autocomplete="off"
          id="mobile"
          required
          placeholder=""
        />
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          minlength="6"
          required
          [(ngModel)]="password"
          placeholder=""
        />
        <div class="forgot">
          <a rel="noopener noreferrer">Forgot Password ?</a>
        </div>
      </div>
      <button
        type="submit"
        [disabled]="form.invalid"
        (click)="submitCredentials()"
        class="sign"
      >
        Sign in
      </button>
    </form>

    <p class="signup" *ngIf="login">
      Don't have an account?
      <a (click)="changeMethod()" class="">Signup</a>
    </p>
    <p class="signup" *ngIf="!login">
      Have an account?
      <a (click)="changeMethod()" class="">Login</a>
    </p>
  </div>
</div>
