<div class="basic-details">
  <div class="image-container">
    <img [src]="baseUrl + details?.image" alt="" />
  </div>
  <div class="profile-details">
    <h3>{{ details?.serviceName }}</h3>
    <h6 class="font-weight-bold">
      {{ details?.description }}
    </h6>
    <p class="p-blue mb-0">Provider Name</p>
    <p>{{ details?.name }}</p>
    <div class="price">
      <p class="font-weight-bold">
        Price Range : Rs. {{ details?.overallPriceRange }}
      </p>
    </div>
    <hr />
    <p>
      <span>Mobile</span> : {{ details?.contact.mobile }} &nbsp;&nbsp;&nbsp;
      <br />
      <span>Email</span> : {{ details?.contact.email }} &nbsp;&nbsp; &nbsp;
      <br />
      <span>Website</span> :
      {{ details?.contact.website }}
      <br />
      <span>Address</span> :
      {{
        details?.address.street +
          ", " +
          details?.address.city +
          ", " +
          details?.address.state +
          ". Pin code " +
          details?.address.postalCode
      }}
    </p>
    <div class="row d-flex">
      <div>
        <p-rating
          *ngIf="details?.overallRating"
          [(ngModel)]="details.overallRating"
          [readonly]="true"
          [cancel]="false"
        ></p-rating>
      </div>
    </div>
    <hr />
    <div class="liscense p-blue" *ngFor="let liscence of details?.license">
      <p>{{ liscence?.name }} by {{ liscence?.issuedBy }}</p>
    </div>
    <hr />
    <div class="availiablity">
      <p class="p-blue">Areas : {{ details?.serviceArea }}</p>
      <ul>
        <li *ngFor="let av of details?.availability">
          <p class="p-blue">{{ av?.dayOfWeek }}</p>
          - &nbsp;
          <p>{{ av?.availableTimes }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="service-details">
  <div>
    <h5>Pricing</h5>
    <div class="pricing">
      <div class="card" *ngFor="let p of details?.pricing">
        <p class="p-blue">{{ p?.serviceName }}</p>
        <p>{{ p?.price }} {{ p?.startsAt }}</p>
        <p>{{ p?.description }}</p>
      </div>
    </div>
  </div>
</div>

