<div class="basic-details">
  <div class="image-container">
    <img [src]="baseUrl + details?.image" alt="" />
  </div>
  <div class="profile-details">
    <h3>{{ details?.serviceName }}</h3>
    <h6 class="font-weight-bold">
      {{ details?.description }}
    </h6>
    <div class="row d-flex">
      <div>
        <p-rating
          *ngIf="serviceRating"
          [(ngModel)]="serviceRating"
          [readonly]="true"
          [cancel]="false"
        ></p-rating>
        <p *ngIf="details?.reviews">
          (Based on {{ details.reviews.length }} Reviews)
        </p>
      </div>
    </div>
    <p class="p-blue mb-0">Provider Name</p>
    <p>{{ details?.name }}</p>
    <div class="price">
      <p class="font-weight-bold">
        Price Range : Rs. {{ details?.overallPriceRange }}
      </p>
    </div>

    <hr />
    <p>
      <span>Mobile</span> : {{ details?.contact.mobile }} &nbsp;&nbsp;&nbsp;
      <br />
      <span>Email</span> : {{ details?.contact.email }} &nbsp;&nbsp; &nbsp;
      <br />
      <span>Website</span> :
      {{ details?.contact.website }}
      <br />
      <span>Address</span> :
      {{
        details?.address.street +
          ", " +
          details?.address.city +
          ", " +
          details?.address.state +
          ". Pin code " +
          details?.address.postalCode
      }}
    </p>

    <hr />
    <div class="liscense p-blue" *ngFor="let liscence of details?.license">
      <p>{{ liscence?.name }} by {{ liscence?.issuedBy }}</p>
    </div>
    <hr />
    <div class="availiablity">
      <p class="p-blue">Areas : {{ details?.serviceArea }}</p>
      <ul>
        <li *ngFor="let av of details?.availability">
          <p class="p-blue">{{ av?.dayOfWeek }}</p>
          - &nbsp;
          <p>{{ av?.availableTimes }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="service-details">
  <div>
    <h5>Pricing</h5>
    <div class="pricing">
      <div class="card" *ngFor="let p of details?.pricing">
        <p class="p-blue"><strong>Name : </strong> {{ p?.serviceName }}</p>
        <p><strong>Starting From :</strong> {{ p?.startsAt }}</p>
        <p><strong>Description :</strong> {{ p?.description }}</p>
      </div>
    </div>
  </div>
</div>

<div class="faq">
  <div>
    <h5>Frequently Asked Questions</h5>
  </div>
  <div class="mb-3" *ngFor="let qa of details?.faq; let i = index">
    <div>
      <p>
        <strong>Q{{ i + 1 }}. {{ qa.que }} </strong>
      </p>
      <p>&nbsp; {{ qa.ans }}</p>
    </div>
  </div>
</div>

<div class="reviews mt-3 mb-4">
  <div>
    <h5>Reviews</h5>
    <div class="rev" *ngFor="let rev of details?.reviews">
      <p-rating
        [(ngModel)]="rev.rating"
        [readonly]="true"
        [cancel]="false"
      ></p-rating>
      <p>{{ rev.review }}</p>
    </div>
    <strong *ngIf="!details?.reviews"
      >No Reviews Found. Be the first to write a review.</strong
    ><br />
    <button
      *ngIf="!sameUser"
      class="btn btn-success mt-3"
      (click)="triggerReviewModal()"
    >
      Post a Review
    </button>
  </div>
</div>

<p-dialog
  header="Post a Review"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '40vw' }"
>
  <div>
    <label for="rating">Rating</label><br />
    <p-rating [(ngModel)]="rating" [cancel]="false"></p-rating>
  </div>
  <div class="mt-2">
    <label for="review">Review</label>
    <textarea
      name="review"
      id="review"
      [(ngModel)]="review"
      rows="2"
      class="form-control"
    ></textarea>
  </div>
  <div class="div">
    <button class="btn btn-secondary mt-3" (click)="submitReview()">
      Submit
    </button>
  </div>
</p-dialog>
