<div>
  <app-carousel></app-carousel>
</div>
<app-service-options></app-service-options>
<div class="text-center pt-5">
  <h4 class="font-weight-bold">
    <app-featured
      [services]="featuredCarpenters"
      serviceName="Carpenters"
    ></app-featured>
  </h4>
</div>
<div class="text-center pt-5">
  <h4 class="font-weight-bold">
    <app-featured
      [services]="featuredPlumbers"
      serviceName="Plumbers"
    ></app-featured>
  </h4>
</div>
<div class="text-center pt-5">
  <h4 class="font-weight-bold">
    <app-featured
      [services]="featuredElecticians"
      serviceName="Electricians"
    ></app-featured>
  </h4>
</div>
