.options {
  width: 100%;
  display: flex;
  height: fit-content;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5%;
  margin: 20px 0;
  background-color: rgb(233, 233, 233);
}
.filters {
  height: fit-content;
  width: fit-content;
  display: flex;
  column-gap: 20px;
  justify-content: flex-end;
}
h3 {
  font-weight: 800;
  color: green;
}
.layout {
  padding: 10px 0;
}
