<div class="services">
  <div class="service" *ngFor="let service of services.services">
    <div class="image">
      <img [src]="service.images[0]" alt="{{ service.name }}" />
    </div>
    <div class="details">
      <h3>
        {{ service.name | titlecase }} <i class="pi pi-verified"></i><br />
      </h3>
      <h6><i class="pi pi-tag"></i> &nbsp;{{ service.tags }}</h6>
      <h5>
        <i class="pi pi-phone">{{ "  " + service.contact }}</i>
      </h5>
      <p>{{ service.description }}</p>
    </div>
    <div class="pricing">
      <p-rating
        [(ngModel)]="service.overallRating"
        [readonly]="true"
        [cancel]="false"
      ></p-rating>
      <h5>&#x20B9;{{ service.priceRange }}</h5>
      <button class="btn btn-success">See Full Details</button>
    </div>
  </div>
</div>
