<div class="profile">
  <div class="profile-background">
    <img [src]="'assets/profile/cover2.jpeg'" alt="Background" />
    <button class="btn btn-danger" (click)="logout()">Logout</button>
    <div class="profile-image">
      <img [src]="'assets/profile/profile.jpeg'" alt="" />
    </div>
  </div>
  <div class="profile-introduction">
    <div class="toggle-to-service-provider">
      <p class="mb-2">
        Become a <span *ngIf="user?.userTye">Normal User</span>
        <span *ngIf="!user?.userType">Service Provider</span>
      </p>
      <label class="switch">
        <input
          type="checkbox"
          [(ngModel)]="userType"
          (change)="changeUserType()"
        />
        <span class="slider round"></span>
      </label>
    </div>
    <div class="intro">
      <button><i class="pi pi-pencil"></i></button>
      <h5>Ayush Maurya</h5>
      <p><span class="p-blue">Email : </span>{{ "email@email.com" }}</p>
      <p><span class="p-blue">Mobile : </span>{{ "8641548143" }}</p>
      <p><span class="p-blue">City : </span>{{ "Yamunanagar" }}</p>
      <p><span class="p-blue">State : </span>{{ "Haryana" }}</p>
      <p><span class="p-blue">Address : </span>{{ "105, Model Town" }}</p>
    </div>
  </div>
</div>

<app-service-profile *ngIf="activeUserType"></app-service-profile>

<div class="contact-us"></div>

<p-toast position="bottom-right"></p-toast>
<p-confirmDialog [style]="{ width: dialogWidth }"></p-confirmDialog>
