th {
  font-size: 13px;
}
.profile {
  height: 250px;
  width: auto;
  max-width: 400px;
  margin: 20px 0;
  border-radius: 5px;
  border: 2px black solid;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.profile img {
  height: 100%;
  width: auto;
}
