<div class="container pt-4">
  <h3>Service Profile</h3>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <div class="profile">
        <input
          type="file"
          name="dp"
          (change)="onfileChange($event)"
          id="dp"
          hidden
        />
        <h5 *ngIf="!fields.image">No image is added for the service</h5>
        <img
          *ngIf="fields.image"
          [src]="base + fields.image"
          alt="Unable to load image"
        />
      </div>
      <button class="btn btn-success" (click)="triggerImageUpload()">
        Upload Image
      </button>
    </div>
  </div>

  <form class="service-details" #serviceDetails="ngForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="serviceName">Service Name</label>
          <input
            type="text"
            name="serviceName"
            [(ngModel)]="fields.serviceName"
            id="serviceName"
            class="form-control"
            placeholder="Enter the name of Service you want to offer"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="category">Category</label>
          <p-multiSelect
            name=" category"
            [options]="categoryOptions"
            [(ngModel)]="fields.serviceCategories"
            optionLabel="name"
            placeholder="Select Category"
          ></p-multiSelect>
        </div>
      </div>
      <div class="col-md-3 col-lg-3">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            name="name"
            id="name"
            [(ngModel)]="fields.name"
            class="form-control"
            placeholder="Name"
          />
        </div>
      </div>
      <div class="col-md-3 col-lg-3">
        <div class="form-group">
          <label for="mobile">Mobile</label>
          <input
            type="text"
            name="mobile"
            id="mobile"
            [(ngModel)]="fields.contact.mobile"
            class="form-control"
            placeholder="Mobile"
          />
        </div>
      </div>
      <div class="col-md-3 col-lg-3">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            step="hidden"
            [(ngModel)]="fields.contact.email"
            class="form-control"
            placeholder="Email"
          />
        </div>
      </div>
      <div class="col-md-3 col-lg-3">
        <div class="form-group">
          <label for="email">Link for Whatsapp</label>
          <input
            type="whatsapp"
            name="whatsapp"
            id="whatsapp"
            step="hidden"
            [(ngModel)]="fields.contact.whatsapp"
            class="form-control"
            placeholder="Whatsapp Link"
          />
        </div>
      </div>
      <div class="col-md-3 col-lg-3">
        <div class="form-group">
          <label for="website">Website</label>
          <input
            type="url"
            name="website"
            id="website"
            step="hidden"
            [(ngModel)]="fields.contact.website"
            class="form-control"
            placeholder="Website"
          />
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="form-group">
          <label for="address">Street Address</label>
          <input
            type="text"
            name="address"
            id="address"
            step="hidden"
            [(ngModel)]="fields.address.street"
            class="form-control"
            placeholder="Address"
          />
        </div>
      </div>
      <div class="col-md-3 col-lg-3">
        <div class="form-group">
          <label for="country">Country</label>
          <input
            type="text"
            name="country"
            id="country"
            [(ngModel)]="fields.address.country"
            step="hidden"
            class="form-control"
            placeholder="Country"
          />
        </div>
      </div>
      <div class="col-md-3 col-lg-3">
        <div class="form-group">
          <label for="state">State</label>
          <input
            type="text"
            name="state"
            id="state"
            [(ngModel)]="fields.address.state"
            step="hidden"
            class="form-control"
            placeholder="State"
          />
        </div>
      </div>
      <div class="col-md-3 col-lg-3">
        <div class="form-group">
          <label for="city">City</label>
          <input
            type="text"
            name="city"
            [(ngModel)]="fields.address.city"
            id="city"
            step="hidden"
            class="form-control"
            placeholder="City"
          />
        </div>
      </div>
      <div class="col-md-3 col-lg-3">
        <div class="form-group">
          <label for="postalCode">Postal Code</label>
          <input
            type="text"
            name="postalCode"
            id="postalCode"
            step="hidden"
            [(ngModel)]="fields.address.postalCode"
            class="form-control"
            placeholder="Postal Code"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            name="description"
            id="description"
            placeholder="Description"
            [(ngModel)]="fields.description"
            class="form-control"
          ></textarea>
        </div>
      </div>
    </div>
    <hr />
    <h5>Pricings</h5>
    <div class="row">
      <div class="col-md-3"><label>Service</label></div>
      <div class="col-md-2"><label>Starts At</label></div>
      <div class="col-md-7"><label>Description</label></div>
    </div>
    <div class="row mb-2" *ngFor="let price of fields.pricing; let i = index">
      <div class="col-md-3">
        <input
          type="text"
          name="pricing_{{ i }}"
          class="form-control"
          placeholder="Name of Service"
          id="pricing_{{ i }}"
          [(ngModel)]="price.serviceName"
        />
      </div>
      <div class="col-md-2">
        <input
          type="text"
          name="startsAt_{{ i }}"
          class="form-control"
          placeholder="Starts At"
          id="startsAt_{{ i }}"
          [(ngModel)]="price.startsAt"
        />
      </div>
      <div class="col-md-7">
        <input
          type="text"
          name="description_{{ i }}"
          class="form-control"
          placeholder="Starts At"
          id="description_{{ i }}"
          [(ngModel)]="price.description"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 mt-1">
        <button
          class="btn btn-success"
          type="button"
          (click)="addMorePricing()"
        >
          Add More
        </button>
        <button
          class="btn btn-danger m-2"
          type="button"
          (click)="removeLastPricing()"
        >
          Remove Last
        </button>
      </div>
    </div>
    <hr />
    <h5>Business Hours</h5>
    <table class="table table-borderless table-sm">
      <thead>
        <tr>
          <th>Day</th>
          <th>Start Time</th>
          <th>End Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bhours of fields.businessHours; let i = index">
          <td class="d-flex align-items-center">{{ bhours.day }}</td>
          <td>
            <input
              type="text"
              name="monday_start{{ i }}"
              id="monday_start{{ i }}"
              placeholder=" Hrs:Mins"
              [(ngModel)]="bhours.start"
              class="form-control"
            />
          </td>
          <td>
            <input
              type="text"
              name="monday_end{{ i }}"
              placeholder=" Hrs:Mins"
              id="monday_end{{ i }}"
              [(ngModel)]="bhours.end"
              class="form-control"
            />
          </td>
        </tr>
      </tbody>
    </table>
    <hr />
    <h5>Tools</h5>
    <div class="row">
      <div class="dol-md-12">
        <textarea
          name="tool"
          class="form-control"
          id="tool"
          [(ngModel)]="fields.tools"
        ></textarea>
      </div>
    </div>
    <hr />
    <h5>Payments Methods</h5>
    <div class="row">
      <div class="col-md-12">
        <textarea
          name="payment"
          id="payment"
          class="form-control"
          [(ngModel)]="fields.paymentMethods"
        ></textarea>
      </div>
    </div>
    <hr />
    <h5>License and Certifications</h5>
    <div class="row">
      <div class="col-md-3">
        <label for="name">Name</label>
      </div>
      <div class="col-md-3">
        <label for="date">Date</label>
      </div>
      <div class="col-md-3">
        <label for="issued">Issued By</label>
      </div>
    </div>
    <div class="row mb-2" *ngFor="let l of fields.license; let i = index">
      <div class="col-md-3">
        <input
          type="text"
          class="form-control"
          name="{{ i + l.name }}"
          id="{{ i + l.name }}"
          [(ngModel)]="l.name"
        />
      </div>
      <div class="col-md-3">
        <input
          type="text"
          class="form-control"
          name="{{ i + l.date }}"
          id="{{ i + l.date }}"
          [(ngModel)]="l.date"
        />
      </div>
      <div class="col-md-3">
        <input
          type="text"
          class="form-control"
          name="{{ i + l.issuedBy }}"
          id="{{ i + l.issuedBy }}"
          [(ngModel)]="l.issuedBy"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <button class="btn btn-success" type="button" (click)="addLicense()">
          Add More
        </button>
        <button
          class="btn btn-danger m-2"
          type="button"
          (click)="removeLicense()"
        >
          Remove Last
        </button>
      </div>
    </div>
    <hr />
    <h5>Social Media Links</h5>
    <div class="row">
      <div
        class="col-md-6"
        *ngFor="let links of fields.contact.socialMediaLinks"
      >
        <div class="form-group">
          <label>{{ links.platform }}</label>
          <input
            type="text"
            name="{{ links.platform }}"
            placeholder="{{ links.platform }} Link"
            id="{{ links.platform }}"
            class="form-control"
            [(ngModel)]="links.url"
          />
        </div>
      </div>
    </div>
    <hr />
    <h5>Frequently Asked Questions</h5>
    <div class="row">
      <div class="col-md-6"><label for="que">Question</label></div>
      <div class="col-md-6"><label for="ans">Answer</label></div>
    </div>
    <div class="row mb-3" *ngFor="let faq of fields.faq; let i = index">
      <div class="col-md-6">
        <textarea
          name="{{ i }}que"
          id="{{ i }}que"
          rows="2"
          [(ngModel)]="faq.que"
          class="form-control"
        ></textarea>
      </div>
      <div class="col-md-6">
        <textarea
          name="{{ i }}ans"
          id="{{ i }}ans"
          rows="2"
          [(ngModel)]="faq.ans"
          class="form-control"
        ></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <button class="btn btn-success" type="button" (click)="addMorefaq()">
          Add More
        </button>
        <button
          class="btn btn-danger m-2"
          type="button"
          (click)="removeLastfaq()"
        >
          Remove Last
        </button>
      </div>
    </div>
  </form>
  <div class="row d-flex justify-content-end mt-4">
    <div class="col-md-2 d-flex justify-content-end">
      <button class="btn btn-success" (click)="saveDetails()">Save</button>
    </div>
  </div>
</div>
